---
import data from "../data/events.json";
import { Accordion, AccordionItem } from "accessible-astro-components";
import { Icon } from "astro-icon";
import Button from "./Button.astro";
---

<section id="eventi" class="mb-8 pt-[calc(120px+2em)] pb-12">
  <header class="pb-8">
    <h2 class="text-3xl text-client-blue font-bold">
      {data.title}
    </h2>
  </header>
  <Accordion>
    {
      data.events.reverse().map((event) => (
        <AccordionItem date={event.date} header={event.title}>
          <div class="flex flex-col gap-y-4 sm:p-4">
            <div class="pb-4 flex flex-col gap-y-4">
              <h2 class="font-bold text-4xl">{event.title}</h2>
            </div>

            <div class="flex flex-row items-center gap-x-2 text-gray-500">
              <div class="w-10 h-10 sm:w-12 sm:h-12">
                <Icon name="mdi:calendar" />
              </div>
              <p class="text-xl sm:text-lg">{event.date}</p>
            </div>
            <div class="flex flex-row items-center gap-x-2 text-gray-500">
              <div class="w-10 h-10 sm:w-12 sm:h-12">
                <Icon name="mdi:location" />
              </div>
              <p class="text-xl sm:text-lg">{event.location}</p>
            </div>

            <p class="text-xl sm:text-lg py-8">{event.description}</p>

            <div class="flex flex-col items-center justify-center relative z-[1]">
              <Button dest={event.btn_link} text={event.btn_label} />
            </div>
          </div>
        </AccordionItem>
      ))
    }
  </Accordion>
</section>
