---
import data from "../data/events.json";
import { Accordion, AccordionItem } from "accessible-astro-components";
import { Icon } from "astro-icon";
---

<section class="my-8 pb-12">
  <header class="pb-8">
    <h2 class="text-3xl text-client-blue font-bold">
      {data.title}
    </h2>
  </header>
  <Accordion>
    {
      data.events.map((event) => (
        <AccordionItem date={event.date} header={event.title}>
          <div class=" grid md:grid-cols-3 gap-y-4">
            <div class="pb-4 flex flex-col gap-y-4">
              <h2 class="font-bold text-4xl">{event.title}</h2>

              <p class="text-lg sm:text-4xl p-2 bg-client-blue text-client-beige font-light">
                {event.date}
              </p>
            </div>

            <div class="flex flex-row items-center gap-x-2">
              <div class="w-10 h-10 sm:w-20 sm:h-20">
                <Icon name="mdi:location" />
              </div>
              <p class="text-xl sm:text-lg">{event.location}</p>
            </div>

            <p class="text-xl sm:text-lg">{event.description}</p>

            <div class="flex flex-col items-center justify-center">
              <button class="mt-4 bg-client-blue text-white px-8 py-2 rounded-xl duration-300 hover:bg-white hover:text-client-blue hover:shadow-md border-client-blue border">
                <a href="">Vai al congresso</a>
              </button>
            </div>
          </div>
        </AccordionItem>
      ))
    }
  </Accordion>
</section>
