---
import data from "../data/services.json";
import Card from "./Card.astro";
import Button from "./Button.astro";
---

<section id="servizi" class="pt-[calc(120px+2em)] py-12 w-full">
  <header class="pb-8">
    <h2 class="text-3xl text-client-blue font-bold">
      {data.title}
    </h2>
  </header>
  <div class="flex flex-col gap-y-4 items-start">
    <p class="text-lg w-full md:w-1/2">
      {data.description}
    </p>
    <Button text={data.button} />
  </div>
</section>
<ul
  role="list"
  class="grid grid-cols md:grid-cols-2 xl:grid-cols-3 gap-x-4 gap-y-4"
>
  {
    data.cards.map((service) => (
      <>
        <Card title={service.title} body={service.description} />
      </>
    ))
  }
</ul>
